

.counter {
    background: url('../assets/img/E-learning-photo.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 270px;
    position: relative;
    &::before {
        content: '';
        background: rgba($overlay, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .counter-wrap {
        .icon-box {
            border: 1px solid #fff;
            width: 80px;
            height: 80px;
            margin: 25px auto;
            transform: rotate(45deg);
            i.fa {
               font-size: 40px;
               color: #ffc800;
               margin: 18px auto;
               transform: rotate(-45deg); 
            }
        }
        span {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }
    }
    
}