@include mediaLg {
    header {
        padding: 0;
        width: 100%;
        div#sticky-header {
            padding: 0;
            .container-fluid {
                .row {
                    div.logo {
                        margin-right: 2% !important;
                        img {
                            width: 180px;
                            height: 90px;
                        }
                    }
                }
            }
            .sign-part {
                margin-right: 3%;
                #top-user-sign {
                    
                    button.sign-btn {
                        font-size: 14px;
                    }
                }
            }
            
        }

        .search-title {
            .course-text {
                h1 {
                    font-size: 50px;
                    line-height: 80px;
                    span {
                        font-size: 60px;
                    }
                }
            }
        }
    }
}